<ion-grid>
    <ion-row>
        <ion-col *ngFor="let button of buttons" [style.width]="buttonWidth">
            <ion-button fill="clear" expand="full" (click)="commonCB(button)"
                        [ngClass]="button.selected ? 'selected' : 'unselected'"
                        [disabled]="button.disabledCB && button.disabledCB()">
                <span>
                    <ion-icon *ngIf="button.icon && !button.iconSrc"
                              [name]="button.icon"></ion-icon>
                    <ion-icon *ngIf="button.iconSrc && !button.icon"
                              [src]="button.iconSrc"></ion-icon>
                    <br>
                    {{ button.text }}
                </span>
            </ion-button>
        </ion-col>
    </ion-row>
</ion-grid>
